.carrusel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrusel img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
}

.flecha {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  top: 45%;
  z-index: 1;
}

.flecha:first-of-type {
  left: 10px;
}

.flecha:last-of-type {
  right: 10px;
}
